name: CD - Deploy on EC2

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH Key
        run: |
          echo "${{ secrets.EC2_KEY }}" > private_key.pem
          chmod 600 private_key.pem

      - name: Deploy on EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i private_key.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
            sudo docker stop ecommerce-app || true
            sudo docker rm ecommerce-app || true
            sudo docker rmi ${{ secrets.DOCKER_USERNAME }}/ecommerce-app:latest || true
            sudo docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/ecommerce-app:latest
            sudo docker run -d -p 80:3000 --name ecommerce-app ${{ secrets.DOCKER_USERNAME }}/ecommerce-app:latest
          EOF
